<footer class="bg-dark text-light py-4">
    <div class="container text-center">
        <p class="mb-0">&copy; <%= Time.current.year %> My Store</p>
        <p>By Luis Estigarribia.</p>
    </div>
</footer>