<footer class="bg-dark text-light py-4">
    <div class="container text-center">
        <p class="mb-0">&copy; <%= Time.current.year %> <%= t(".my_store") %></p>
        <p class="mb-0"><%= t(".powered_by") %></p>
        <p>By Luis Estigarribia.</p>
    </div>
</footer>